/* Backgrounds styles of Fernando Ted personal website - fernandoted.github.io
   https://github.com/fernandoted
   03-03-17
*/

.section-container {
	@extend .col-lg-12;
	display: flex;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
	padding-left: 0;
	padding-right: 0;
}

.bg-home {
	background-color: #e8bf29;
	height: 960px;
	// background: url(../../dist/img/home-bg-smart-01.jpg);
}

.specif-bg {
	background: url(../../dist/img/about-bg-smart-01.jpg) no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	padding-bottom: 60px;
}

.about-bg {
	background: url(../../dist/img/me-bg-smart.jpg) no-repeat;
	padding-bottom: 60px;
	// height: 550px;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.projects-bg {
	background: $adobe-dark-gray;
}

.infos-bg {
	background: url(../../dist/img/infos-bg-smart.jpg) center center no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	color: $white;
}

.offer-bg {
	background: url(../../dist/img/coffe02-bg-smart.jpg) center center no-repeat;
	background-size: 100% 100%;
}

/* projects background */
.bg-pizza {
	background: url(../../dist/img/mock-pizza-smart-01.jpg);
}
.bg-cannelle {
	background: url(../../dist/img/mock-cannelle-smart-01.jpg);
}
.bg-recanto {
	background: url(../../dist/img/mock-recanto-smart-01.jpg);
}
.bg-coop {
	background: url(../../dist/img/mock-coop-smart-01.jpg);
}
.bg-flow {
	background: url(../../dist/img/mock-flowsupply-desktop-01.jpg);
}
.bg-opiniao {
	background: url(../../dist/img/mock-opiniao-smart-01.jpg);
}
.bg-cannelle, .bg-pizza, .bg-recanto, .bg-coop, .bg-flow, .bg-opiniao {
	height: 650px;
	color: $white;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

/* IPHONE 5 */
// @media only screen and (min-device-width: 320px) and (min-device-height: 568px) {
// 	.bg-home {
// 		height: 1136px;
// 	}
// }

/* IPHONE 6 */
// @media only screen and (min-device-width: 375px) and (max-device-height: 667px) {
// 	.bg-home {
// 		height: 1334px;
// 	}
// }

/* DESKTOP */
@media screen and (min-width: 769px) {
	
	.bg-home {
		// height: 800px;
		// background: url(../../dist/img/alt-bg.jpg);
		// background-attachment: fixed;
		// background-size: cover;
	}
	
	.specif-bg {
		background: url(../../dist/img/about-bg-desktop-02.jpg) no-repeat;
		background-size: cover;
		padding-bottom: 0;
	}

	.about-bg {
		background: url(../../dist/img/me-bg-03.jpg) no-repeat;
		// height: 550px;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
	}
	
	.blog-bg {
		background: url(../../dist/img/infos-bg.jpg) center center no-repeat;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		color: $white;
	}
	
	.offer-bg {
		background: url(../../dist/img/coffe02-bg-desktop-v2.jpg) center center no-repeat;
		background-size: 100% 100%;
	}
	.bg-pizza {
		background: url(../../dist/img/mock-pizza-desktop-02.jpg);
	}
	.bg-cannelle {
		background: url(../../dist/img/mock-cannelle-desktop-01.jpg);
	}
	.bg-recanto {
		background: url(../../dist/img/mock-recanto-desktop-01.jpg);
	}
	.bg-coop {
		background: url(../../dist/img/mock-coop-desktop-02.jpg);
	}
	.bg-flow {
		background: url(../../dist/img/mock-flowsupply-desktop-01.jpg);
	}
	.bg-opiniao {
		background: url(../../dist/img/mock-opiniao-desktop-01.jpg);
	}
	.bg-cannelle, .bg-pizza, .bg-recanto, .bg-coop, .bg-flow, .bg-opiniao {
		background-attachment: fixed;
	}
}

/* PRO 15" */
@media screen and (min-width: 1440px) {
	// .bg-home-container {
	// 	background: url(../../dist/img/home-bg-lg.jpg);
	// 	background-attachment: fixed;
	// 	background-size: 100% 100%;
	// }
}
