/* Leftbar styles of Fernando Ted personal website - fernandoted.github.io
   https://github.com/fernandoted
   03-03-17
*/
	
.mobile-header {
	width: 100%;
	display: block;
	z-index: 9999;
}
.fixed {
	display: none;
}

/* DESKTOP */
@media screen and (min-width: 769px) {
	.fixed {
		display: block;
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		z-index: 9999;
		width: 40%;
	}
	.mobile-header {
		display: none;
	}
}
