/* Links and buttons styles of Fernando Ted personal website - fernandoted.github.io
   https://github.com/fernandoted
   03-03-17
*/

/* language */
.mobile-header {
	.lang-wrapper-home {
		padding-top: 10px;
		margin-left: 10px;
	}
	.lang-wrapper {
		padding-top: 10px;
		margin-left: 10px;
	}
	.lang-wrapper-home, .lang-wrapper {
		display: -webkit-flex;
		display: flex;
		-webkit-flex-direction: row;
		flex-direction: row;
		
		.lang {
			color: $white;
			font-size: .7rem;
			font-family: $title-font;
			cursor: pointer;
			margin-right: 10px;
		}	
	}
}
.lang-wrapper {
		padding-top: 60px;
		display: -webkit-flex;
		display: flex;
		-webkit-flex-direction: row;
		flex-direction: row;
		-webkit-justify-content: flex-end;
		justify-content: flex-end;
		.lang {
			color: $white;
			opacity: .6;
			font-size: .725rem;
			font-family: $title-font;
			cursor: pointer;
			margin-right: 20px;
		}
	}
/* back to top button */
button.back-top {
	margin: 0;
	padding: 0;
	background: $soft-gray;
	height: 0;
	width: 0;
	overflow: hidden;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
	color: transparent;
	clear: both;
	visibility: hidden;
	position: fixed;
	cursor: pointer;
	display: block;
	border: none;
	right: 50px;
	bottom: 75px;
	font-size: 0px;
	outline: 0;
	z-index: 99;
	-webkit-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}
button.back-top:hover,
button.back-top:active,
button.back-top:focus {
	outline: 0 !important;
}
button.back-top::before {
	content: "\f077";
	font-family: "FontAwesome";
	display: block;
	vertical-align: middle;
	margin: -5px 0 auto;
}
button.back-top.show {
	display: block;
	background: $light-gray;
  	color: $dark-opacity;
  	opacity: .4;
  	font-size: 1.5rem;
  	right: 25px;
  	bottom: 50px;
  	height: 50px;
  	width: 50px;
  	visibility: visible;
  	-webkit-box-shadow: 0px 2px 4px 1px rgba(0,0,0,0.25);
  	-moz-box-shadow: 0px 2px 4px 1px rgba(0,0,0,0.25);
  	box-shadow: 0px 2px 4px 1px rgba(0,0,0,0.25);
  	-webkit-transition: .2s ease-in-out;
  	-moz-transition: .2s ease-in-out;
  	-o-transition: .2s ease-in-out;
  	transition: .2s ease-in-out;
}
button.back-top:hover {
	color: $white;
	background: $soft-gray;
	opacity: 1;
}
button.back-top.show:active {
	box-shadow: 0px 4px 8px 2px rgba(0, 0, 0, 0.25);
  	-webkit-box-shadow: 0px 4px 8px 2px rgba(0, 0, 0, 0.25);
  	-moz-box-shadow: 0px 4px 8px 2px rgba(0, 0, 0, 0.25);
}
.resume-wrapper {
	@extend .col-lg-8;
	@extend .col-sm-12;
	text-align: right;

	.download-button-wrapper {
		margin: 20px 80px 40px 0;
	
		.download-button {
			cursor: pointer;
			line-height: 1.25rem;
			text-align: center;
			vertical-align: middle;
			border: 1px solid $dark-gray;
			padding: .5rem 2rem;
			font-size: .8rem;
			border-radius: .25rem;
		}
	}
}

.button-read-more-wrapper {
	display: none;

	.read-more {
		line-height: 1.25rem;
		text-align: center;
		vertical-align: middle;
		background: transparent;
		color: $white;
		letter-spacing: 1px;
		border: 1px solid $white;
		padding: .3rem 1.225rem;
		font-size: .7rem;
		border-radius: .25rem;
	}
}

/* project link icons */
.projects-list-wrapper {
	@extend .col-lg-8;
	@extend .col-sm-12;
	margin-bottom: 80px;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;

	.projects-item {
		@extend .col-lg-6;
		padding: 30px 0;
		display: -webkit-flex;
		display: flex;
		-webkit-align-items: center;
		align-items: center;
		-webkit-justify-content: center;
		justify-content: center;

		.project-link {
			width: 50%;
		}
		.project-link-coop {
			width: 20%;
		}
		.project-link, .project-link-coop {
			opacity: .6;
			-webkit-transition: .2s ease-in-out;
			transition: .2s ease-in-out;


			&:hover {
				opacity: 1;
			}

			.project-logo {
				width: 100%;
			}
		}
	}
}
.project-social-icon-wrapper {
	margin-top: 20px;
	text-align: center;
	.project-social-link {
		color: $soft-gray;
		font-size: 2.225rem;
		margin-right: 10px;
		margin-left: 10px;
		-webkit-transition: .2s ease-in-out;
		-moz-transition: .2s ease-in-out;
		-o-transition: .2s ease-in-out;
		transition: .2s ease-in-out;
		&:hover {
			color: $dark;
		}
	}
}
.project-site-link-wrapper {
	width: 100%;
	text-align: center;
	margin-top: 20px;
	margin-bottom: 60px;
	.project-site-link {
		color: $soft-gray;
		font-style: italic;
		font-size: .9rem;
		margin-top: 20px;
		-webkit-transition: .2s ease-in-out;
		-moz-transition: .2s ease-in-out;
		-o-transition: .2s ease-in-out;
		transition: .2s ease-in-out;
		&:hover {
			color: $dark;
			text-decoration: none;
		}
	}
}
.mobile-present-wrapper {
	.angle-down-mobile-button {
		color: #FFF;
		font-size: 3.5rem;
		margin-top: 10px;
	}
}

/* IPHONE 5 */
/* angle down mobile button */
@media only screen and (min-device-width: 320px) and (min-device-height: 568px) {
	.mobile-present-wrapper {
		.angle-down-mobile-button {
			margin-top: 60px;
		}
	}
}

/* IPHONE 6 */
@media only screen and (min-device-width: 375px) and (min-device-height: 667px) {
	.mobile-present-wrapper {
		.angle-down-mobile-button {
			margin-top: 120px;
		}
	}
	.project-site-link {
		font-size: 1rem;
	}
}

/* DESKTOP */
@media screen and (min-width: 769px) {
	.lang-wrapper-home {
		margin-top: 40px;
		margin-left: 80px;
	}
		.lang-wrapper {
		padding-left: 80px;
	}
	.lang-wrapper-home, .lang-wrapper {
		display: -webkit-flex;
		display: flex;
		-webkit-flex-direction: row;
		flex-direction: row;
		.lang {
			font-size: .8rem;
			font-family: $title-font;
			margin-right: 10px;
			cursor: pointer;
		}
	}
	.lang-wrapper {
		-webkit-align-items: center;
		align-items: center;
	}
	.resume-wrapper {
		/*margin-top: 20px;*/
		margin-bottom: 40px;

		.download-button-wrapper {
			margin: 0 80px 0 0;

			.download-button {
				margin-top: 20px;
				-webkit-transition: all .2s ease-in-out;
				-moz-transition: all .2s ease-in-out;
				-o-transition: all .2s ease-in-out;
				transition: all .2s ease-in-out;
				&:hover {
					border-color: transparent;
					background-color: $adobe-dark-gray;
					color: $white;
				}
			}
		}
	}
	.button-read-more-wrapper {
		display: block;
	}
	/* project link icons */
	.projects-list-wrapper {
		.projects-item {
			padding: 20px 0;

			.project-link {
				width: 35%;
			}
			.project-link-coop {
				width: 20%;
			}
		}
	}
	.project-social-icon-wrapper {
		text-align: left;
		.project-social-link {
			margin-right: 20px;
			margin-left: 0;
		}
	}
	.project-site-link-wrapper {
		text-align: left;
		margin-top: 20px;
		margin-bottom: 60px;
		.project-site-link {
			font-size: 1.125rem;
		}
	}
}
