/* Logo styles of Fernando Ted personal website - fernandoted.github.io
   https://github.com/fernandoted
   03-03-17
*/

.logo-wrapper {
	// border: 2px solid #000;
	// border-radius: 7px;
	padding: 5px 10px;
	width: fit-content;
	height: fit-content;
	margin-top: 80px;
	margin-left: 100px;
	.logo {
		color: #000;
		font-family: $logo-font;
		font-size: 3.5rem;
		margin-bottom: 0;
		letter-spacing: -2px;
	}
}


@media screen and (max-width: 769px) {
	.logo-wrapper {
		.logo {
			font-size: 3rem;
		}		
	}
}
