/* Title styles of Fernando Ted personal website - fernandoted.github.io
   https://github.com/fernandoted
   03-03-17
*/

.topbar-container {
	background: $dark-opacity;
	height: 40px;
	position: fixed;
	width: 100%;
	z-index: 99999;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-align-items: center;
	align-items: center;
	-webkit-transition: .2s ease-in-out;
	-moz-transition: .2s ease-in-out;
	-o-transition: .2s ease-in-out;
	transition: .2s ease-in-out;
	&:hover {
		height: 60px;
	}
	// .lang-wrapper {
	// 	display: -webkit-flex;
	// 	display: flex;
	// 	-webkit-flex-direction: row;
	// 	flex-direction: row;
	// 	.lang {
	// 		color: $white;
	// 		font-size: .625rem;
	// 		font-family: $title-font;
	// 		cursor: pointer;
	// 		margin-right: 15px;
	// 	}
	// }
	.topbar-menu-wrapper {
		display: -webkit-flex;
		display: flex;
		-webkit-justify-content: center;
		justify-content: center;
		-webkit-align-items: center;
		align-items: center;
		.topbar-button {
			color: $white;
			opacity: .6;
			font-size: .9rem;
			font-family: $text-font;
			margin-left: 10px;
			margin-right: 10px;
			-webkit-transition: .2s ease-in-out;
			-moz-transition: .2s ease-in-out;
			-o-transition: .2s ease-in-out;
			transition: .2s ease-in-out;

			&:hover {
				text-decoration: none;
				opacity: 1;
			}
		}
	}
	.topbar-button-wrap {
		display: -webkit-flex;
		display: flex;
		-webkit-justify-content: center;
		justify-content: center;
		-webkit-align-items: center;
		align-items: center;
	}
}

/* IPHONE 6 */
@media only screen and (min-device-width: 375px) and (min-device-height: 667px) {
	.topbar-container {
		.topbar-menu-wrapper {
			.topbar-button {
				font-size: 1rem;
			}
		}
	}
}

/* DESKTOP */
@media screen and (min-width: 769px) {

}