$logo-font: "balboa-plus-fill";

/* colors */
$white: #FFFFFF;
$red: #FC001F;
$dark: #000000;
$dark-opacity: rgba(0,0,0,0.4);
$light-gray: #EDEDED;
$soft-gray: #7F7F7F;
$dark-gray: #565656;
$adobe-dark-gray: #282828;
