/* Stylesheet of Fernando Ted personal website - fernandoted.github.io
   https://github.com/fernandoted
   03-03-17
*/



// @import "../components/bootstrap/scss/bootstrap";
// @import "variables";
// @import "mixins";
// @import "menu";
@import "logo";
@import "background";
// @import "leftbar";
@import "title";
// @import "text";
@import "social";
// @import "links-buttons";
@import "images";
// @import "topbar";
// @import "footer";
// @import "_language";


html, body {
	height: 100%;
}

body {
	background: $white;
}

li {
	list-style: none;
}

.container-full {
	@extend .container-fluid;
	margin: 0;
	padding: 0;
}

.desktop-element {
	display: none;
}

.smart-element {
	display: block;
}

/* DESKTOP */
@media screen and (min-width: 769px) {
	.desktop-element {
		display: block;
	}
	.smart-element {
		display: none;
	}
}