/* Stylesheet of Fernando Ted personal website - fernandoted.github.io
   https://github.com/fernandoted
   03-03-17
*/



// @import "../components/bootstrap/scss/bootstrap";
@import "variables";
// @import "mixins";
// @import "menu";
@import "logo";
@import "background";
// @import "leftbar";
@import "title";
// @import "text";
@import "social";
// @import "links-buttons";
@import "images";
@import "topbar";
@import "typography";
// @import "footer";
// @import "_language";


html, body {
	height: 100%;
}

html, body {
	margin: 0;
	padding: 0;
	border: 0;
}

body {
	background: $white;
}

h1 {
	margin: 0;
}

li {
	list-style: none;
}

.container-full {
	// @extend .container-fluid;
	margin: 0;
	padding: 0;
}

.content-wrapper {
	width: 100%;
}

.desktop-element {
	display: none;
}

.smart-element {
	display: block;
}

/* SMARTPHONE */
@media screen and (max-width: 769px) {
	.topbar-wrapper {
		flex-direction: column;
		align-items: center;
		.logo-wrapper {
			margin-left: 0;
		}
		.social-wrapper-desktop {
			width: 100%;
			display: flex;
			justify-content: center;
			margin-right: 0;
			margin-top: 40px;
		}
	}

	.content-wrapper {
		display: flex;
		justify-content: center;
		.trefoilLink-wrapper {
			width: fit-content;
			margin-left: 0;
			// margin-top: 60px;
		}
	}
}

/* DESKTOP */
@media screen and (min-width: 769px) {
	.desktop-element {
		display: block;
	}
	.smart-element {
		display: none;
	}
}